<div class="container">
  <div class="row" *ngIf="activeUsers.length >0">
    <div class="col-md-8">
      <h2 style="text-decoration-line: underline;">Active Users</h2>
      <app-active-users  *ngFor="let activeUser of activeUsers" [activeUser]="activeUser" (SetInactive)="SetToInactive($event)"></app-active-users>
    </div>
  </div>
  <br>
  <br>
  <div class="row"  *ngIf="inactiveUsers.length >0">
    <div class="col-md-8">
      <h2 style="text-decoration-line: underline;">Inactive Users</h2>
      <app-inactive-users *ngFor="let inactiveUser of inactiveUsers" [inactiveUser]="inactiveUser" (SetActive)="SetToActive($event)"></app-inactive-users>
    </div>
  </div>
</div>